{% extends 'entry_forms/user_forms.html' %}

{% block form-title %}
  <h4 class="card-title">घरका परिवारहरुको विवररण</h4>
  <p class="card-category">सबै परिवारका घरमुली</p>
{% endblock %}

{% block form-body %}
{% for member in families %}
<p><a href="{% url 'formentry:family_details' fid=member.id geo=geo pid=0 house=1 %}" class="btn btn-primary">{{member}}</a></p>
{% endfor %}
{% endblock %}

{% block form-footer %}

{% endblock %}

{% block form-nav %}
<a href="{% url 'formentry:family_details' geo=geo fid=0 pid=0 house=0%}" role="button" class="btn btn-primary">नयाँ परिवार थप्नुहोस् </a>
<a class="btn btn-primary" href="{% url 'formentry:memberforms' member=geo memtype=1 %}" role="button">Add More Details</a>
{% endblock %}
