{% extends 'design/index.html' %}

{% load widget_tweaks %}

{% block content %}
  <div class="row">
      <div class="col-lg-8">
          <div class="card ">
              <div class="card-header ">{% block form-title %}
                  <h4 class="card-title">User Forms</h4>
                  <p class="card-category">
                    {% if form_next == 'house' %}
                      Enter the House Head Details
                    {% endif %}
                    {% if flag == 'relation' %}
                      घरका सदस्यहरुको सुचना राख्नुहोस् ।
                    {% endif %}
                  </p>{% endblock %}
              </div>

              <div class="card-body ">
                  <div id="form" >
                    {% block form-body %}
                    {% if form_next == 'house' %}
                      <form action="{% url 'formentry:house_head' pid=personid coordinates=geo %}" method="post">
                    {% endif %}
                    {% if flag == 'relation' %}
                      <form action="{% url 'formentry:relation' mooli=mooli child=child entry=0 %}" method="post">
                    {% endif %}
                      {% csrf_token %}
                      {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if field.name != 'pub_date' %}
                              {{ field |attr:"class:form-control" }}
                            {% else %}
                              {{ field |attr:"class:datetime-input form-control" }}
                            {% endif %}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <input type="submit" value="submit"/>
                  </form>{% endblock %}
                  </div>
              </div>
              <div class="card-footer ">{% block form-footer %}
                  <div class="legend">
                    {% if personid %}
                    <a class="btn btn-primary" href="{% url 'formentry:memberforms' member=personid memtype=3 %}" role="button">Add More Details</a>
                    {% endif %}
                  </div>
                {% endblock %}
              </div>
            </div>
          </div>
      <div class="col-lg-4">
          <div class="card ">
              <div class="card-header ">
                  <h4 class="card-title">Navigations</h4>

                </div>
                <div class="card-body">{% block form-nav %}
                  <!-- {% if form_next == 'house' %}
                    <a class = "btn btn-primary" href ="{% url 'formentry:family_details' geo=geo pid=0 house=0 fid=personid%}" role="button">पछाडी फर्कनुहोस्</a>
                  {% endif %} -->
                  {% if flag %}
                  {% if  personid %}
                    <a class = "btn btn-primary" href ="{% url 'formentry:relation' mooli=mooli child=child entry=2 %}" role="button">Add Relation</a>
                    <a class = "btn btn-primary" href ="{% url 'formentry:memberlist' family_id=mooli %}" role="button">परिवारमा जानुहोस् ।</a>
                    <a class= "btn btn-secondary" href="{% url 'postform:upload' member=child memberType=3 %}">फोटो खिच्नुहोस्</a>
                  {% endif %}
                  {% endif %}
                  {% endblock %}
              </div>
          <div class="card-footer">
          </div>
      </div>
  </div>
{% endblock %}
