<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DataView</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js" charset="utf-8"></script>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
              <th>Name(पुरा नाम)</th>
              {% for column in table %}
              <th colspan = {{column.count}}>{{column.tableName}}</th>
              {% endfor %}
            </tr>
            <tr>
              <th></th>
              {% for column in table %}
                {% for field in questions %}
                {% if field.tableID == column %}
                <th>{{field.question}}</th>
                {% endif %}
                {% endfor %}
              {% endfor %}
              </tr>
        </thead>
        <tfoot>
            <tr>
              <th>Name(पुरा नाम)</th>
              {% for column in fields %}
              <th>{{fields.fieldname}}</th>
              {% endfor %}
            </tr>
        </tfoot>
    </table>
    <script type="text/javascript">

      var data = JSON.parse('{{json_transpose|safe}}');
      data = Object.values(data);
      var columns = {{columns_id|safe}};
      var questions_with_choices = {{questions_with_choices|safe}};
      all_choices = {{all_choices | safe}};
      questions_with_yes_no = {{questions_with_yes_no|safe}}
        $(document).ready(function() {
        $('#example').DataTable( {
            "dom": 'Bfrtip',
            "data" : data,
            "columns": [
                {"data":'name'},
                {% for m in columns_id %} {"data":{{m}}, render: function ( data, type, row ) {
                  if(questions_with_choices.indexOf({{m}}) != -1){
                    return all_choices[data];
                  } else if (questions_with_yes_no.indexOf({{m}}) != -1){
                    if (data == 1){
                      return 'छ';
                    } else{
                      return 'छैन';
                    }
                  }else{
                    return data;
                  }
                  // return '$'+ data;
                }},
                {% endfor %}
                // { "data": "extn" },
                // { "data": "start_date" },
                // { "data": "salary" }
            ],
            "select": true,
            "buttons": [
                {
                    'extend': 'collection',
                    'text': 'Export',
                    'buttons': [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print'
                    ]
                }
            ]

      });
    } );
    </script>

  </body>
</html>
