<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}
    {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="{% static '/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/css/light-bootstrap-dashboard.css' %}" rel="stylesheet" />
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="//rawgit.com/rubaxa/Sortable/master/Sortable.js"></script>
    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="{% static 'assets/img/sidebar-5.jpg' %}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.kushmamun.gov.np" class="simple-text" style="font-family: Hind;">
                        कुश्मा - ७
                    </a>
                </div>
                <ul class="nav">
                    {% block nav %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="{% url 'formentry:index' %}"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        {% block navbar %}
                        {% endblock %}
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    {% block footer %}
                    {% endblock %}
                </div>
            </footer>
        </div>
    </div>

 <!--   Core JS Files   -->
 <!-- <script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script> -->
 <script src="{% static 'assets/js/core/popper.min.js' %}" type="text/javascript"></script>
 <script src="{% static 'assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
 <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
 <script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>

 <!--  Chartist Plugin  -->
 <!-- <script src="{% static 'assets/js/plugins/chartist.min.js' %}"></script> -->
 <!--  Notifications Plugin    -->
 <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>

<script src="{% static 'assets/js/light-bootstrap-dashboard.js' %}"></script>
<!-- Date Picker -->
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
    });
</script>
{% block remaining-js %}
{% endblock %}
</body>
</html>
