{% extends 'entry_forms/user_forms.html' %}

{% block form-title %}
  <h4 class="card-title">{{formtitle}}</h4>
  <p class="card-category">{{formdescription}}</p>
{% endblock %}



{% block form-body %}
<div id="A">
  {% for member in list %}
  <div id="{{member.id}}">{% if form_type %}
    <a href="{% url 'formentry:submit_formindex' id=member.id %}" class="btn btn-primary">{{member}}</a>
    {% endif %}
    {% if tab_type %}
    <a href="{% url 'formentry:submit_tableindex' formid=formid tid=member.id %}" class="btn btn-primary" order={{member.weight}}>{{member.id}}.{{member}}</a>
    {% endif %}
    {% if ques_type %}
    <a href="{% url 'formentry:submit_questionindex' tid=tid qid=member.id %}" class="btn btn-primary" order={{member.weight}}>{{member.id}}.{{member}}</a>
    {% endif %}
    {% if choice_type %}
    <a href="{% url 'formentry:submit_choiceindex' qid=qid cid=member.id %}" class="btn btn-primary" order={{member.weight}}>{{member.id}}.{{member}}</a>
  {% endif %}</div>
  {% endfor %}
</div>
<script type="text/javascript">
var el = document.getElementById('A')
var mysortable =
  Sortable.create(el, {
  animation: 200,
  group: {
    name: "shared",
    pull: "clone",
    revertClone: true,
  },
  sort: true
  });

</script>
{% endblock %}

{% block form-footer %}

{% endblock %}

{% block form-nav %}
{% if new %}
<a class="btn btn-primary" href="{{new}}">नयाँ बनाउनुहोस्</a>
{% endif %}
<a class="btn btn-danger" href="/forms/design/">सबै फारम हेर्नुहोस् । </a>
{% endblock %}
