{% extends 'entry_forms/user_forms.html' %}
{% load widget_tweaks %}
{% block form-title %}
  <h4 class="card-title">सबै फारमहरु</h4>
  <p class="card-category">यी फारमहरु हेर्नको लागि मात्र हो ।</p>
{% endblock %}

{% block form-body %}
<form action="{% url 'postform:saveposts' %}" method="post">
{% if marks %}
<h3>Self Marks : {{obtained_marks.own}}</h3>
<h3>Ward Marks : {{obtained_marks.ward}}</h3>
{% endif %}
<input type="submit" value="Submit पेश गर्नुहोस् । " class='btn btn-danger' style="width:100%"/>
{% for qna, ans, choice, marks  in field_choices %}
<div class="form-group row">
  <div class="col-md-8">
    <h4>{{qna}}</h4><input type="hidden" value="{{qna.id}}" name="questions[]"/>
    <p>{{choice}}</p><input type="hidden" value="{{ans}}" name="answers[]"/>
  </div>
  <div class="col-md-4 form-group row">
    {% for i,j in marks.items %}
      {% for k in j %}
        <label style="text-align:right; font-size:12px; text-transform:none;" class="col-xs-6 col-form-label">मूल्याङ्कन</label>
        <div class="col-xs-6">
          <input name="mark{{forloop.counter}}[]" type="number" size="4" style="width:80px" value="{{k}}"/>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endfor %}
{% csrf_token %}
<input type="hidden" name="formid" value="{{form.id}}"/>
<input type="hidden" name = "member" value="{{member}}"/>
<input type="submit" value="Submit पेश गर्नुहोस् । " class='btn btn-danger' style="width:100%"/>
</form>

{% endblock %}

{% block form-footer %}

{% endblock %}

{% block form-nav %}

{% endblock %}
